.img-overlay-right {
  position: absolute;
  top:8px;
  right:4px;
}

.coverPic {
  background-color: #478AB8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

.fa-size-20 {
  font-size: 20px;
}

.fa-name {
  font-size: 25px;
}

.margin-logo {
  padding-bottom: 25px;
}

.pill {
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 0px;
}

.active {
  color: #000 !important;
  background-color: transparent !important;
  text-decoration: none;
  /* font-weight: bold; */
  border-radius:0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #03A9F4;
  padding-bottom: 12px;
}

/* .nav-pills > .active > a:hover */
.nav-pills > li > a:hover {
  color: #000 !important;
  background-color: transparent !important;
  text-decoration: none;
  /* font-weight: bold; */
  border-radius:0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #C7C7C7;
  padding-bottom: 12px;
}

.nav-pills > li > a{
  border-radius:0px;
  color: #000 !important;
}
