<div class="my-0 px-4 pb-4 text-white" style="background-color: #7081A9">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="mb-0"><b>Our Mission</b></h3>
        <!-- Our mission is to accelerate the world’s research -->
        <!-- What is Academig? -->
        <b>Discover the right research information and opportunities using unlimited search filters, in-depth labs information, advanced comparison tools, and personalized lab alerts.</b>
      </div>
      <div>
        <img src="./assets/img/action/landing_building.svg" class="mt-4 img-fluid" style="max-width: 20rem;" alt="academig_signup">
      </div>
    </div>
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>What We Do</h2>
   <p class="subheading">Our Story: IDEA, GROWTH, MISSION</p>
   <p class="subheading">A brief history of Trello</p>
   <p class="subheading">Here's how it works</p>
   <p class="subheading">Millions of people and companies of all kinds and sizes love using Trello.</p>
   <p>Academig was founded in September of 2018 and based in Germany. Academig is making the life of researchers and research labs simpler. It offers a way to build, manage, discover, follow and compare research labs around the world</p>
   <p>Academig connects academic labs all around the world. Whether you are looking to build your lab's profile or find new lab members, projects, services, publications, or positions, Academig offers the easiest way to do exactly that.</p>
   <!-- Under Roni's leadership, Academig has expended to Z research groups in X countries and Y universities around the world. -->

   <!-- by offering new and effective ways to build their online presence. -->
   <!-- It is a trusted community of academics  -->
   <!-- online or from a mobile phone or tablet. -->

   <h2>Our Vision</h2>
   <p class="subheading">About Academig</p>
   We solve problems that matter

  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Business Model / Our Products</h2>
   <p class="subheading">Academig PRO</p>
   <p class="subheading">Academig Reading Library</p>
   <p class="subheading">Academig Labs Tools PRO</p>
   <p class="subheading">Academig Labs Suggestions PRO</p>
   <p class="subheading">Academig Labs Jobs</p>
   <p class="subheading">Academig Departments Tools PRO</p>
   <p class="subheading">Academig Marketplace</p>
   <p class="subheading">Academig Data API</p>
   <p class="subheading">Academig Data for Applications</p>
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Our Customers</h2>
   <!-- <p class="subheading">Our mission is to accelerate the world’s research</p> -->
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Numbers</h2>
   <div class="row">
     <div class="col">
       <ul class="list-unstyled">
         <li class="media">
           <i class="fa fa-university fa-2x fa-fw d-flex mt-2 mr-3"></i>
           <div class="media-body">
             <p class="text-muted mb-0">Total Universities</p>
             <p class="lead">151</p>
           </div>
         </li>
        <li class="media">
           <i class="fa fa-users fa-2x fa-fw d-flex mt-2 mr-3"></i>
           <div class="media-body">
             <p class="text-muted mb-0">Total Labs</p>
             <p class="lead">876</p>
           </div>
         </li>
         <li class="media">
           <i class="fa fa-book fa-2x fa-fw d-flex mt-2 mr-3"></i>
           <div class="media-body">
             <p class="text-muted mb-0">Total Publications</p>
             <p class="lead">9834</p>
           </div>
         </li>
         <li class="media">
           <i class="fa fa-cubes fa-2x fa-fw d-flex mt-2 mr-3"></i>
           <div class="media-body">
             <p class="text-muted mb-0">Total Projects</p>
             <p class="lead">876</p>
           </div>
         </li>
       </ul>
     </div>

     <div class="col">
       <ul class="list-unstyled">
         <li class="media">
           <i class="fa fa-university fa-2x fa-fw d-flex mt-2 mr-3"></i>
           <div class="media-body">
             <p class="text-muted mb-0">Total Departments</p>
             <p class="lead">876</p>
           </div>
         </li>
         <li class="media">
           <i class="fa fa-user fa-2x fa-fw d-flex mt-2 mr-3"></i>
           <div class="media-body">
             <p class="text-muted mb-0">Total People</p>
             <p class="lead">4531</p>
           </div>
         </li>
         <li class="media">
           <i class="fa fa-wrench fa-2x fa-fw d-flex mt-2 mr-3"></i>
           <div class="media-body">
             <p class="text-muted mb-0">Total Services</p>
             <p class="lead">876</p>
           </div>
         </li>
         <li class="media">
           <i class="fa fa-globe fa-2x fa-fw d-flex mt-2 mr-3"></i>
           <div class="media-body">
             <p class="text-muted mb-0">Total Countries</p>
             <p class="lead">14</p>
           </div>
         </li>
       </ul>
     </div>
   </div>
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Press Coverage</h2>
   <p class="subheading">Accademig in the Press</p>
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>The Reach of Academig</h2>
   <p class="subheading">Customers Stories</p>
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>How Academig Can Help</h2>
   <p class="subheading">Professors</p>
   <p class="subheading">Researchers</p>
   <p class="subheading">Grants Managers</p>
   <p class="subheading">Academic Market Research</p>
   <p class="subheading">Academic Market Research</p>
   <p class="subheading">Sales Represenative</p>
  </div>
</div>

<!-- style="background-image: linear-gradient(#283E73, #74B1CC);" -->
<div >
  <!-- class="text-center" -->
  <div  style="padding-top: 50px; padding-bottom: 50px">

   <!-- academig_team.jpeg -->
   <!-- <h3 class="mb-3">Founders</h3> -->

   <div class="container">
   <div class="row justify-content-center">
   <div class="col-lg-8">

   <h2>Meet the Team</h2>

   <li class="media mt-3">
     <img class="d-none d-sm-block mr-4" src="./assets/img/rony_pozner_lab.jpeg" alt="Rony Pozner" [width]="190">
     <div class="media-body">
       <p class="mb-0">Rony Pozner</p>
       <p class="text-muted">Co-Founder, CEO</p>
       <img class="d-sm-none d-flex mx-auto mb-3" src="./assets/img/rony_pozner_lab.jpeg" alt="Rony Pozner" [width]="130">
       <p class="small">
         Rony is the Chief Executive Officer at Academig. He is responsible for the company's strategy, purpose, and vision. Under Rony's leadership, Academig represents the interests of millions of labs' heads and members around the world. Rony earned a degree in Electrical Engineering from the Technion – Israel Institute of Technology, Master Degree in Nanomaterials from Tel Aviv University and Ph.D. in Quantum Chemistry again at the Technion. He also held several engineering positions before founding Academig. Rony decided to build Academig after becoming frustrated with the cuurent condition of research labs websites and the lack of sufficient accessibility for labs' information.
       </p>
       <p class="small">
         <a [routerLink]="['/people/roni_pozner']">Academig profile &#9658;</a>
       </p>
     </div>
   </li>

   <li class="media mt-3">
     <img class="d-none d-sm-block mr-4" src="./assets/img/tatyana_pozner_lab.jpeg" alt="Tatyana Pozner" [width]="190">
     <div class="media-body">
       <p class="mb-0">Tatyana Pozner</p>
       <p class="text-muted">Co-Founder, CCO</p>
       <img class="d-sm-none d-flex mx-auto mb-3" src="./assets/img/tatyana_pozner_lab.jpeg" alt="Tatyana Pozner" [width]="130">
       <p class="small">
         Tatyana is the Chief Customer Officer. She is responsible for the company's customer acquisition, retention, and profitability. Tatyana is currently pursuing her Phd in Neuroscience at the Friedrich Alexander Universität Erlangen Nurnberg.
       </p>
       <p class="small">
         <a [routerLink]="['/people/tatipk86']">Academig profile &#9658;</a>
       </p>
     </div>
    </li>

    </div>
    </div>
    </div>

  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Join Our Team</h2>
   <p class="subheading">Careers</p>
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Contact Us</h2>
   <!-- <p class="subheading">Careers</p> -->
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Investors</h2>
   <!-- <p class="subheading">Careers</p> -->
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Download the Brand Assets</h2>
   <!-- <p class="subheading">Careers</p> -->
  </div>
</div>

<div *ngIf="0" style="background-image: linear-gradient(#283E73, #74B1CC);">
  <div class="text-center text-white" style="padding-top: 50px; padding-bottom: 50px">
   <h2>Stay up to date with recent funding rounds, acquisitions, and more with the Crunchbase Daily.</h2>
   <p class="subheading">Media inquiries? Talk to us at press@trello.com.</p>
   <p class="subheading">Marketing or content inquiries? Reach us at editor@trello.com.</p>
   <p class="subheading">Follow us on social media</p>
  </div>
</div>


<info-footer></info-footer>
