button.btnBlocking:after {content:"Blocked"}

button.btnBlocking:hover span {display:none}

button.btnBlocking:hover:after {
  content:"Unblock";
}

button.btnBlocking:hover {
  background-color: #e67e22;
  border-color: #d35400;
}

button.btnUnblock {
  background-color: #e67e22;
  border-color: #d35400;
}
