.btn-info {
  background-color: white;
  border-color: #E8F0EB;
}

.btn-info:hover, .btn-info:focus, .btn-info:active:focus .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
  background-color: #E8F0EB;
  border-color: #CED5D0;
}
