<ng-container *ngIf="missionService.groupId && missionService.userStatus>=4">

  <div class="row justify-content-md-center">
    <div class="col-xl-8">

      <div *ngIf="missionService.planNumber>0" class="card mt-0">
        <div class="card-body">
          <div class="d-flex">
            <div class="mr-auto">
              <h4 class="card-title mb-0"><b><i class="text-muted fa fa-wrench mr-1"></i> Lab Tools</b></h4>
            </div>
            <div *ngIf="missionService.userStatus>=6" class="d-flex align-items-center">
              <span class="badge badge-pill badge-warning p-2">PRO Plan Monthly</span>
              <!-- <span><a (click)="planUpdate(1)" href="javascript:void(0)" class="card-title mr-2">Change Plan (Yearly)</a></span>
              <span>|</span>
              <span><a (click)="planUpdate(1)" href="javascript:void(0)" class="card-title ml-2">Cancel Plan</a></span> -->
            </div>
          </div>
        </div>
        <hr class="mt-0">

        <ul *ngIf="missionService.planNumber>0" class="nav nav-pills nav-pills-light-blue nav-pills-icons justify-content-center mb-4" role="tablist" #scrollPage>
          <!-- <li class="nav-item mx-0">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['reports']" data-toggle="tab" role="tablist">
              <i class="material-icons">insert_chart_outlined</i> Lab Reports
            </a>
          </li> -->
          <li class="nav-item mx-0">
            <a class="nav-link mx-0" [routerLinkActive]="['active']" [routerLink]="['news']" data-toggle="tab" role="tablist">
              <i class="material-icons">rss_feed</i> Lab News
            </a>
          </li>
          <li class="nav-item mx-0">
            <a class="nav-link mx-0" [routerLinkActive]="['active']" [routerLink]="['chat']" data-toggle="tab" role="tablist">
              <i class="material-icons">chat_bubble_outline</i> Lab Chat
            </a>
          </li>
          <li class="nav-item mx-0">
            <a class="nav-link mx-0" [routerLinkActive]="['active']" [routerLink]="['seminars']" data-toggle="tab" role="tablist">
              <i class="material-icons">all_out</i> Lab Seminars
            </a>
          </li>
          <li class="nav-item mx-0">
            <a class="nav-link mx-0" [routerLinkActive]="['active']" [routerLink]="['assignments']" data-toggle="tab" role="tablist">
              <i class="material-icons">post_add</i> Lab Assignments
            </a>
          </li>
          <li class="nav-item mx-0">
            <a class="nav-link mx-0" [routerLinkActive]="['active']" [routerLink]="['calendar']" data-toggle="tab" role="tablist">
              <i class="material-icons">event</i> Lab Calendar
            </a>
          </li>
          <!-- <li class="nav-item mx-0">
            <a class="nav-link mx-0" [routerLinkActive]="['active']" [routerLink]="['polls']" data-toggle="tab" role="tablist">
              <i class="material-icons">poll</i> Lab Polls
            </a>
          </li> -->
          <li class="nav-item mx-0">
            <a class="nav-link mx-0" [routerLinkActive]="['active']" [routerLink]="['papers-kit']" data-toggle="tab" role="tablist">
              <i class="material-icons">bookmarks</i> Lab Papers Kit
            </a>
          </li>
          <li class="nav-item mx-0">
            <a class="nav-link mx-0" [routerLinkActive]="['active']" [routerLink]="['personal-info']" data-toggle="tab" role="tablist">
              <i class="material-icons">face</i> Personal Info
            </a>
          </li>
        </ul>

      </div>

      <router-outlet *ngIf="missionService.planNumber>0"></router-outlet>

    </div>
  </div>

  <ng-container *ngIf="missionService.planNumber==0 || missionService.planNumber==null">

    <div class="bg-white pt-4 mb-4">
      <div class="container">
        <div class="row justify-content-start pb-4">
          <div class="d-none d-md-block col-md-6">
            <h1 class="display-4"><b>Academig Lab Tools Pro</b></h1>
            <p class="mt-4 text-dark font-weight-light">Find Companies, Research Your Market, and Track Industry Trends</p>
            Use Crunchbase Pro to get meaningful search results and discover your next business deal.<br>
            Try Lab Tools PRO for free for 60 days. Pay just 10$ monthly later, cancel anytime.
            <br><br>
            <!-- <p class="mt-4 text-dark font-weight-light">Unlock prospecting and research tools on Crunchbase:</p>
            SALES PROSPECTING
            FIND INVESTMENTS
            RAISE CAPITAL
            MARKET RESEARCH<br><br>-->
            <button (click)="planUpdate(0)" role="button" class="btn btn-light-blue" aria-haspopup="true" aria-expanded="false">Try Lab Tools PRO</button>
          </div>
          <!-- <div class="col-md-6 text-center pl-4">
            <img class="img-fluid text-center" [src]="'https://about.crunchbase.com/wp-content/uploads/2020/04/LPHeader_Mackbook_SearchMenu_1.png'">
          </div> -->
        </div>
      </div>
    </div>

    <!-- <div class="container my-4">
      <div class="row justify-content-start my-4">
        <img class="img-fluid" [src]="'https://about.crunchbase.com/wp-content/uploads/2020/09/plaid-logo-v2.png'">
      </div>
    </div> -->

    <div class="bg-white">
      <div class="container mt-4 pt-4">

        <div class="my-4 row justify-content-md-center">
          <div class="col-md-10 col-lg-8 text-center">
            <h1>Academig Lab Tools Pro</h1>
            <h2><strong>Make Your Lab Stronger</strong></h2>
            <span class="lead text-dark mt-2"><b>Use academic tools build specifically to help labs.</b></span>
            <!-- <p class="text-dark">See how <b>Academig Lab Pro</b> can help your lab members. Check out these exclusive Lab Pro features:</p> -->
          </div>
        </div>

        <div *ngFor="let text of textsGroups; let i=index" class="pt-4 my-4">
          <div class="row justify-content-start pb-4 mb-4">

            <div class="d-md-none col-12">
              <i class="material-icons" style="color: #505050">{{iconsGroups[i]}}</i>
              <h1 class="display-4"><b>{{stepsGroups[i]}}</b></h1>
              <p class="mt-4 text-dark font-weight-light">{{text}}</p>
              <button role="button" class="btn btn-light-blue" (click)="login()">Get Started</button>
            </div>

            <div *ngIf="i%2==0" class="d-none d-md-block col-md-6">
              <i class="material-icons" style="color: #505050">{{iconsGroups[i]}}</i>
              <h1 class="display-4"><b>{{stepsGroups[i]}}</b></h1>
              <p class="mt-4 text-dark font-weight-light">{{text}}</p>
              <button role="button" class="btn btn-light-blue" (click)="login()">Get Started</button>
            </div>

             <!-- [ngClass]="{'pl-4': i%2==0, 'pr-4': i%2==1}" -->
            <div class="col-md-6 text-center p-4">
              <!-- <img class="img-fluid border" [src]="'./assets/img/tour/tour-group-'+ (i+1) +'.jpg'"> -->
              <img class="img-fluid" [src]="'https://about.crunchbase.com/wp-content/uploads/2019/11/expensive-manual.png'">
            </div>

            <div *ngIf="i%2==1" class="d-none d-md-block col-md-6">
              <i class="material-icons" style="color: #505050">{{iconsGroups[i]}}</i>
              <h1 class="display-4"><b>{{stepsGroups[i]}}</b></h1>
              <p class="mt-4 text-dark font-weight-light">{{text}}</p>
              <button role="button" class="btn btn-light-blue" (click)="login()">Get Started</button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </ng-container>
</ng-container>

<div *ngIf="missionService.groupId && missionService.userStatus<4" class="card">
  <div class="card-body" [@itemsAnimation]="('active')">
    <build-modal-intro [headline]="'You don\'t have access to this page.'" [bodypic]="'ban'"></build-modal-intro>
  </div>
</div>
