<spinner *ngIf="!streamRetrieved"></spinner>

<div *ngIf="streamRetrieved && posters.length!=0">
  <!-- <div [dragula]=bagName [(dragulaModel)]='posters'> -->
  <ul *ngFor="let poster of posters; let i=index; let l=last" class="list-unstyled">
    <media-poster-item [itemAutofocus]="itemFocus==i"
                       [poster]=poster
                       [sourceType]=sourceType
                       [showEditBtn]=showEditBtn
                       [stream]=stream[i]
                       [streamSuggestion]="streamSuggestion ? streamSuggestion[i] : null"
                       (animationDoneEvent)="animationDone()"
                       (buttonEditClick)="buttonEditFunc(i)"
                       (buttonDeleteClick)="buttonDeleteFunc(i)"
                       (buttonSuggestionClick)="buttonSuggestionFunc($event,i)"
                       (btnPDF)=pdfSlide($event)>
    </media-poster-item>
    <!-- <div *ngIf="!l && !sourceType" class="row mb-4"><hr class="col-8 offset-2"></div> -->
  </ul>
  <!-- </div> -->
</div>
