<div style="background-image: linear-gradient(#283E73, #74B1CC); padding-top: -15rem" class="text-white pt-0 pb-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="d-none d-sm-block text-center display-4 pt-4">
        Become an Academig Podcast Partner <span class="small">(Beta)</span>
      </div>
      <div class="d-block d-sm-none text-center lead pt-4">
        Become an Academig Podcast Partner <span class="small">(Beta)</span>
      </div>
    </div>
  </div>
</div>

<div class="form-container mb-4">
  <div class="container">

    <ng-template #stepPodcast>
      <form [formGroup]="podcastFormGroup">
        <div class="card">
          <div class="card-body">
            <div *ngIf="podcastInvalid.length>0" class="alert alert-warning border-warning alert-dismissible fade show mb-4" role="alert">
              <p *ngFor="let item of podcastInvalid; let l=last" [ngClass]="{'mb-0': l}"><b>{{ item }}.</b></p>
            </div>
            <h4>Tell us about your podcast</h4>

            <mat-form-field appearance="outline" class="mt-4">
              <mat-label>Podcast name?</mat-label>
              <!-- Tool name * --> <!-- placeholder="Last name, First name" -->
              <input matInput formControlName="podcastName" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-2">
              <mat-label>Podcast URL?</mat-label>
              <input matInput formControlName="podcastURL" required>
            </mat-form-field>

            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Product markets?">
                <mat-chip
                  *ngFor="let market of markets"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(market)">
                  {{market}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Select podcast markets..."
                  #marketInput
                  formControlName="podcastMarkets"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let market of filteredMarkets | async" [value]="market">
                  {{market}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-label>What type of podcast is this?</mat-label>
            <div *ngFor="let type of podcastType; let f=first; let i=index" class="form-check">
              <label class="form-check-label">
                <!-- id="radioStacked{{i}}"  -->
                <input class="form-check-input" type="radio" [value]=i formControlName="podcastType" [required]=true>
                {{type}}
                <span class="circle">
                  <span class="check"></span>
                </span>
              </label>
            </div>

            <mat-form-field hintLabel="120 characters or less" appearance="outline" class="mt-4">
              <mat-label>Pitch your podcast in one sentence</mat-label>
              <input matInput #input maxlength="120" formControlName="podcastDescription" required>
              <mat-hint align="end">{{input.value?.length || 0}}/120</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-4" style="margin-bottom: 1rem;">
              <mat-label>Please describe 3-5 benefits of your podcast (This is very important)</mat-label>
              <textarea matInput formControlName="podcastBenefits" [rows]=8 required></textarea>
              <mat-hint>
                Feel free to ponder the following points:<br>
                #A: How did you come up with this product and why?<br>
                #B: Who is your ideal listener?<br>
                #C: What is the biggest pain point you solve for your listeners?<br>
                #D: What secret sauce takes your product from "maybe listen" to "must listen"?<br>
              </mat-hint>
            </mat-form-field>

            <p class="mt-2 mb-4 py-3"></p>
            <mat-form-field appearance="outline" class="mt-4">
              <mat-label>In which year has the podcast been released?</mat-label>
              <input matInput formControlName="podcastYear" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-2">
              <mat-label>How many monthly listeners do you have?</mat-label>
              <input matInput formControlName="podcastUsers" required>
              <mat-hint>Not having a big listeners base is ok!</mat-hint>
            </mat-form-field>

          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #stepTeam>
      <form [formGroup]="teamFormGroup">
        <div class="card">
          <div class="card-body">
            <div *ngIf="teamInvalid.length>0" class="alert alert-warning border-warning alert-dismissible fade show mb-4" role="alert">
              <p *ngFor="let item of teamInvalid; let l=last" [ngClass]="{'mb-0': l}"><b>{{ item }}.</b></p>
            </div>
            <h4>Tell us about yourself</h4>

            <mat-form-field appearance="outline" class="mt-4">
              <mat-label>Your email</mat-label>
              <input matInput formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-2">
              <mat-label>Twitter account</mat-label>
              <input matInput formControlName="twitter" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-2">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-2">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-2">
              <mat-label>What is your role in the podcast?</mat-label>
              <mat-hint>Show Host? Voice Over Specialist? The Showrunner? All of the above?</mat-hint>
              <input matInput formControlName="role" required>
            </mat-form-field>

          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #stepGoal>
      <form [formGroup]="goalFormGroup">
        <div class="card">
          <div class="card-body">
            <div *ngIf="goalInvalid.length>0" class="alert alert-warning border-warning alert-dismissible fade show mb-4" role="alert">
              <p *ngFor="let item of goalInvalid; let l=last" [ngClass]="{'mb-0': l}"><b>{{ item }}.</b></p>
            </div>
            <h4 class="mb-4">Which best describes your podcast goal?</h4>
            <div *ngFor="let title of goalsTitle; let f=first; let i=index" class="card mt-2 form-check">
              <label class="form-check-label py-3">
                <!-- id="radioStacked{{i}}"  -->
                <input class="form-check-input ml-2" type="radio" [value]=i formControlName="goal" [required]=true>
                {{title}}: {{goalsExplain[i]}}
                <span class="ml-2 mt-3 circle">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #stepFinish>
      <form *ngIf="!submitCompleted" [formGroup]="finishFormGroup">
        <div class="card">
          <div class="card-body">
            <div *ngIf="finishInvalid.length>0" class="alert alert-warning border-warning alert-dismissible fade show mb-4" role="alert">
              <p *ngFor="let item of finishInvalid; let l=last" [ngClass]="{'mb-0': l}"><b>{{ item }}.</b></p>
            </div>
            <h4>Submit your podcast</h4>
            <mat-form-field appearance="outline" class="mt-4">
              <mat-label>Who referred you?</mat-label>
              <input matInput formControlName="referred" required>
              <mat-hint>Where did you hear about running a podcast campaign with Academig.</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-4">
              <mat-label>Any comments for our team?</mat-label>
              <textarea matInput formControlName="comments" [rows]=4 required></textarea>
              <mat-hint>Optional. Will not be published. Fruitful academic advices are welcome too (:</mat-hint>
            </mat-form-field>

          </div>
        </div>
      </form>

      <div *ngIf="submitCompleted" class="card">
        <div class="card-body text-center">
          <h4>Podcast Submission Successful</h4>
          <p>We will contact you if we see a great fit!</p>
          <a *ngIf="submitCompleted" class="btn btn-sm btn-light-blue" [routerLink]="['/','search','podcasts']">Go back to search podcasts.</a>
        </div>
      </div>
    </ng-template>

    <!-- <ng-template #bigScreen> -->
     <!-- (selectionChange)="selectionChange($event)" -->
      <mat-horizontal-stepper #stepper labelPosition="bottom" [linear]="true" class="bg-color">

        <ng-template matStepperIcon="podcast">
          <mat-icon>category</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="team">
          <mat-icon>person_outline</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="goal">
          <mat-icon>show_chart</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="submit">
          <mat-icon>check_circle_outline</mat-icon>
        </ng-template>

        <mat-step [stepControl]="podcastFormGroup" state="podcast">
          <ng-template matStepLabel>Podcast</ng-template>
          <ng-container *ngTemplateOutlet="stepPodcast"></ng-container>
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
              <button mat-button matStepperNext class="btn btn-success" (click)="onContinue(1)">Your Details</button>
              <button mat-button matStepperPrevious>Make Changes <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="teamFormGroup" state="team">
          <ng-template matStepLabel>Your details</ng-template>
          <ng-container *ngTemplateOutlet="stepTeam"></ng-container>
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
              <button mat-button matStepperNext class="btn btn-success" (click)="onContinue(2)">Your Goal</button>
              <button mat-button matStepperPrevious>Make Changes <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="goalFormGroup" state="goal">
          <ng-template matStepLabel>Your Goal</ng-template>
          <ng-container *ngTemplateOutlet="stepGoal"></ng-container>
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
              <button mat-button matStepperNext class="btn btn-success" (click)="onContinue(3)">Submit</button>
              <button mat-button matStepperPrevious>Make Changes <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="finishFormGroup" state="submit">
          <ng-template matStepLabel>Submit</ng-template>
          <ng-container *ngTemplateOutlet="stepFinish"></ng-container>
          <button *ngIf="!submitCompleted" mat-button [disabled]="submitFlag" matStepperNext class="btn btn-success" (click)="onContinue(4)">
            Submit <i *ngIf="submitFlag" class="ml-1 fa fa-spinner fa-spin fa-1x"></i>
          </button>
          <button *ngIf="!submitCompleted" mat-button [disabled]="submitFlag" matStepperPrevious>Make Changes <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
        </mat-step>
      </mat-horizontal-stepper>
    <!-- </ng-template> -->

  </div>
</div>

<!-- What kind of podcasts are accepted for upload?
We accept podcasts related to biomedical research, either new or noteworthy.
To be accepted into Academig Apps, you tool must provide the scientist immediate value, therefore static landing pages might not be accepted. 
Technical requirements:
- Tools text must be written in English -->
