 <!-- (click)="profilePicEdit()" -->
<!-- <div *ngIf="missionService.groupIndex.group.pic" class="mb-3" style="cursor:pointer; position:relative; margin-left: 40px; margin-top: -60px;">
  <img [width]=130 [height]=130 [src]="missionService.groupIndex.group.pic" class="img-thumbnail mt-2">
</div>
<div *ngIf="!missionService.groupIndex.group.pic" class="mb-3" style="cursor:pointer; position:relative; margin-left: 40px; margin-top: -60px;">
  <span [style.font-size]="4.55 + 'rem'" class="mt-0 pt-0 fa-stack fa-1x">
    <i class="fa fa-square fa-stack-2x py-0 my-0" style="color: #999999;"></i>
    <span class="fa fa-stack-1x fa-name fa-inverse">{{missionService.groupName | acronym}}</span>
  </span>
</div> -->

<!-- <div class="row">
  <div class="col-md-6" style="margin-left: 70px;">
    <div class="mb-4" on-mouseover='buttonOver(true,0)' on-mouseleave='buttonOver(false,0)' [ngClass]="{'px-0': streamInfo==0, build: streamInfo==0 && missionService.showEditBtn}">
      <div class="d-flex align-items-center">
        <h4>{{ missionService.groupName }}</h4>
        <spinner-put [stream]=streamInfo class="ml-1" (animationDoneEvent)="infoSlide(false)"></spinner-put>
        <build-buttons [showButton]="showButton[0] && streamInfo==0" [editFlag]=true (buttonEditClick)="infoSlide(true)"></build-buttons>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="margin-left: 70px">
    <div class="d-none d-md-block" style="margin-top: -75px;"></div>
    <h5 *ngIf="missionService.groupIndex.university.name!='company'" class="mb-2">{{missionService.groupIndex.department.name}}</h5>
    <h5 *ngIf="missionService.groupIndex.university.name!='company'">{{missionService.groupIndex.university.name}}</h5>
  </div>
</div> -->
