<div *ngIf="source==0">
  <div class="card mb-4">
    <div class="card-body" style="width: 18rem;">
      <div class="small"><b>We can help you advance your carrer</b></div>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary">Easy Going</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-secondary">Moderate</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" class="btn btn-secondary">Aggressive</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="source==1">

  <p><b>We can help you advance your carrer.</b></p>

  <p>Choose your plan:</p>

  <div class="d-flex justify-content-center">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar Academic Assist">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button role="button" class="btn btn-sm btn-outline-info">Easy Going</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button role="button" class="btn btn-sm btn-outline-info">Moderate</button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button role="button" class="btn btn-sm btn-outline-info">Aggressive</button>
      </div>
    </div>
  </div>

  <ul class="small list-unstyled text-muted mt-3">
    <li><a href="">Learn more</a></li>
    <li>You can always change your plan later.</li>
    <!--
    <li>multi-year plan</li>
    <li>Preview of the CV you aspire to achieve</li>
    <li>Long term calendar milestones</li>
    <li>Your plan is based on your research field</li>
    <li>Progess bar along the way</li>
    <li>Suggestions and reminders for next steps along the way</li>
    <li>You still have to do the hard work. We are here to remind you what the hard work is!</li>
    <li>See how you compare to your colleagues</li>
    -->
  </ul>

</div>
