<div [matTooltip]="people.name + ': ' + description" [matTooltipPosition]="'below'" class="mb-3 mr-2">

  <a *ngIf="people.stage>0" style="color: black" name=people._id [routerLink]="['/people',people._id]">
    <single-pic [pic]=people.pic [stackPic]="'user-circle-o'" [maxSizeFlag]=false [width]=32 [height]=32 [widthE]=2 [heightE]=2></single-pic>
  </a>

  <span *ngIf="people.stage==0" style="color: black">
    <single-pic [pic]=people.pic [stackPic]="'user-circle-o'" [maxSizeFlag]=false [width]=32 [height]=32 [widthE]=2 [heightE]=2></single-pic>
  </span>

</div>
