<span *ngIf="mode==0">
  <span *ngFor="let interest of group.interests; let i=index; let l=last" class="small">
    <a style="cursor: pointer;" class="card-title" (buttonTagClick)="buttonInterestsFunc($event)">{{interest}}</a>
    <span *ngIf="!l">, <span *ngIf="i==2 || i==4"><br></span></span>
  </span>
</span>

<span *ngIf="mode==1" class="d-flex align-items-center text-nowrap">
  <single-pic *ngIf="group.groupIndex.group.pic" class="mr-1" [centerFlag]=true [pic]="group.groupIndex.group.pic" [stackPic]="'cubes'" [type]=0 [width]=35 [height]=35></single-pic>
  <span *ngIf="!group.groupIndex.group.pic" style="margin-right: 10px;" class="fa-stack fa-1x ml-2">
    <i class="fa fa-circle fa-circle-size fa-stack-2x pt-0" style="color: #cdcdc1; margin-top: -5px; margin-left: -4px;"></i>
    <span class="fa fa-stack-1x fa-inverse" style="font-size: 18px; margin-top: 0px; margin-left: 0px;">{{group.groupIndex.group.name | acronym}}</span>
  </span>
   <!-- mt-1 -->
  <a *ngIf="group.groupIndex.group.link" class="card-title" [ngClass]="{'mt-3': sourceType==0 && !group.groupIndex.group.pic}" [routerLink]="['/',group.groupIndex.university.link, group.groupIndex.department.link, group.groupIndex.group.link]"><b>{{ group.groupIndex.group.name }}</b></a>
  <span *ngIf="!group.groupIndex.group.link"><b>{{ group.groupIndex.group.name }}</b></span>
</span>

<ng-container *ngIf="mode==2">
  <span class="card-title">
    <!-- <span class="text-nowrap">
      <img *ngIf="group.groupIndex.university.pic" [height]="20" class="mr-2" [src]="group.groupIndex.university.pic">
      <a class="text-nowrap" [routerLink]="['/',group.groupIndex.university.link]">{{ group.groupIndex.university.name }}</a>
    </span>
    / -->
    <a class="text-nowrap" [routerLink]="['/',group.groupIndex.university.link, group.groupIndex.department.link]">{{ group.groupIndex.department.name }}</a>
  </span>
</ng-container>

<span *ngIf="mode==3" class="text-nowrap">
  <span *ngIf="group.country" class="flag mr-1">
    <img *ngIf="sourceType==0" [src]="'./assets/img/flags/' + (group.country | flag) + '.png'" alt="">
    <img *ngIf="sourceType==7" [src]="'./assets/img/flags/' + (group.country | country | flag) + '.png'" alt="">
  </span>
  {{group.city ? group.city + ',' : ''}}
  {{group.state ? group.state + ', ' : ''}}
  <!-- {{group.country | country}} -->
  <span *ngIf="sourceType==0">{{(group.country=='United States of America') ? 'USA' : group.country }}</span>
  <span *ngIf="sourceType==7">{{group.country | country}}</span>
</span>

<ng-container *ngIf="mode==4">
   <!-- class="fa fa-stack-1x fa-name fa-inverse" -->
  <span *ngIf="group.peoples && group.peoples[0]" class="text-nowrap">{{group.peoples[0].name}}</span>
</ng-container>

<!-- <span *ngFor="let topic of group.topic | slice:0:1; let l=last"> -->
<span *ngIf="group.topic && mode==5" class="text-center text-nowrap" [matTooltip]="topicModified" [matTooltipPosition]="'below'">
  <span>{{ group.topic[0] }}</span>
  <span *ngIf="group.topic.length>1"> ...</span>
</span>

<!-- <td class="">
  <div *ngIf="group.background" class="mt-3 mb-0 pb-0">
    <span [innerHTML]="group.background | slice:0:100 | safeHtml"></span>...
  </div>
</td> -->

<span *ngIf="mode==6" class="text-center text-nowrap">
  <!-- {{group.size | labsize}} -->
</span>

<span *ngIf="mode==7" class="text-center text-nowrap">
  {{group.establish || '-'}}
</span>
