.btn {
    border: 0 none;
    width: 10rem;
}

.btn-primary {
    background: #f5f5f5;
    color: #000000;
}

.btn-primary:hover, .btn-primary:focus {
    background: #f5f5f5;
}

.btn-primary:active, .btn-primary.active {
    background: #f5f5f5;
    box-shadow: none;
}
