15 people have already applied to this position.

5 from India. 5 from China. 3 from US, 2 from Germany.
10<br>China<br>India<br>US<br>Germany

<br><br>You rank approximately 7 out of 15 by wighting your publications, degrees, and other factors and taking your field of research into account. <a href="">Learn more about our algorithm</a>
<br><br>We couldn't rank you because your profile info is lacking enough information. <a href="">Improve your academic website</a>

<!-- <th *ngIf="sourceType==3 || sourceType==4" class="small"><b>Candidates</b></th> -->
<!-- <th *ngIf="sourceType==3 || sourceType==4" class="small"><b>Rank</b></th> -->

<!-- <i class="fa fa-eye" aria-hidden="true"></i>{{ position.views[4] }}</span> -->

<!-- <tr>
  <td><img class="d-flex pt-1 rounded-circle" style="max-width: 2rem;" src="member_1.jpg" alt=""></td>
  <td><a href="">Tonny Diako</a>, Netherlands Institute for Neuroscience</td>
  <td class="text-nowrap">just now</td>
</tr>
<tr>
  <td><img class="d-flex pt-1 rounded-circle" style="max-width: 2rem;" src="member_2.jpg" alt=""></td>
  <td><a href="">Bruria Pozner</a>, Just beginning</td>
  <td class="text-nowrap">2 hours ago</td>
</tr>
<tr>
  <td><img class="d-flex pt-1 rounded-circle" style="max-width: 2rem;" src="member_3.jpg" alt=""></td>
  <td> Anonumous, MIT</td>
  <td class="text-nowrap">5 days ago</td>
</tr> -->

<!-- <h6 class="mb-2 mt-3">Latest hires</h6> -->

<!-- <div class="mt-3 mx-1 d-flex justify-content-start align-items-center"> -->
  <!-- <div class="pr-3"><img class="d-flex rounded-circle" style="max-width: 2rem;" src="member_1.jpg" alt=""></div> -->
  <!-- <div><a href="">Koni</a>, Phd</div>
  <div class="ml-auto">Jan 2017</div>
</div> -->

<!-- <div class="mt-3 mx-1 d-flex justify-content-start align-items-center"> -->
  <!-- <div class="pr-3"><img class="d-flex rounded-circle" style="max-width: 2rem;" src="member_2.jpg" alt=""></div> -->
  <!-- <div><a href="">Toni</a>, Postdoc</div>
  <div class="ml-auto">Oct 2016</div>
</div> -->

<!-- <div class="mt-3 mx-1 d-flex justify-content-start align-items-center"> -->
  <!-- <div class="pr-3"><img class="d-flex rounded-circle" style="max-width: 2rem;" src="member_3.jpg" alt=""></div> -->
  <!-- <div><a href="">Boni</a>, Msc</div>
  <div class="ml-auto">Dec 2015</div>
</div> -->

<!-- <p class="text-muted mt-2">On average, 3 positions are opened every year, with an average hiring time of 25 days.</p> -->
