.coverPic {
  background-color: #478AB8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 87px;
}

.fa-stack {
  font-size: 30px;
}

.preview {
  border: 1px solid #69BA6D;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.imgPic {
  position:absolute;
  margin-top: -30%;
  margin-left: 20%;

  border: 1px solid #ddd;
  background: white;
  border-radius: 2px;
  /* padding: 3px; */
}

/* .imgStack {
  position:absolute;
  margin-top: 0%;
  margin-left: 50%;
  transform: translate(-50%,-10%);
} */

/* .rowPad {
  position:relative;
  margin-top: 23%;
} */
